<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About the model</a></li>
            <li><a href="{{ site.baseurl }}/partners">Institutions and Partners</a></li>
            <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
            <li><a href="{{ site.baseurl }}/community">Community</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
          </ul>
        </div>
        <p>To get in touch or join the mailing list, send an email to <a href="mailto:madingley@unep-wcmc.org">madingley@unep-wcmc.org</a></p>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
